# Ignore Git metadata
.git/
.github/
.gitignore
.gitmodules

# Ignore GGUF models (if any are stored in the project folder)
models/

# Ignore IDE and OS temporary configurations
.vs/
.vscode/
.idea/
.cache/
.DS_Store
*.pyc
__pycache__/
